<div class="grid grid-cols-1 min-w-full">
  <div  class="bg-400 priority-list grid grid-cols-1 gap-y-1" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="priority-box bg-base-200 rounded p-4 text-lg grid grid-cols-6 w-full cursor-move" *ngFor="let priority of priorities" cdkDrag>
      <div *cdkDragPlaceholder class="bg-base-300 text-base-l-100 text-lg rounded p-4 grid grid-cols-6">
        <fa-icon [icon]="faIcons.faGripVertical"></fa-icon>
        <span>{{priority.name}}</span>
        <span>{{priority.priorityOrder}}</span>
        <span>{{priority.tasks}}</span>
        <div class="grid grid-cols-2 gap-4 col-span-2">
          <button class="btn btn-secondary" disabled>Edit</button>
          <button class="btn btn-error" disabled>Eliminate</button>
        </div>
      </div>
      <fa-icon [icon]="faIcons.faGripVertical"></fa-icon>
      <span>{{priority.name}}</span>
      <span>{{priority.priorityOrder}}</span>
      <span>{{priority.tasks}}</span>
      <div class="grid grid-cols-2 gap-4 col-span-2">
        <app-edit-bs-priority [toEdit]="priority"></app-edit-bs-priority>
        <button class="btn btn-error" (click)="deletePriority(priority)">Eliminate</button>
      </div>
    </div>
  </div>
</div>

