<div *ngIf="!this.isLoading">
  <div class="drawer drawer-h">
  <input id="column-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content container overflow-auto">
    <div *ngIf="weHaveContent()" id="table_options" class="flex justify-end my-2 gap-3">
      <label (click)="this.modelService.goToAddNewPage()" *ngIf="canAddNew()" class="btn btn-primary drawer-button">Add new</label>
      <label for="column-drawer" class="btn btn-primary drawer-button">Edit Columns</label>
    </div>
    <div id="infoTableModel" class="overflow-x-auto scrollbar-thumb-base-l-300 scrollbar-track-base scrollbar-thin">
      <table *ngIf="weHaveContent()"  class="table-auto min-w-full text-primary-content">
        <thead class="bg-base-100">
          <tr>
            <td *ngFor="let key of modelKeysTransformed" (click)="addSortRequest(key.privateKeyName)" class="px-6 py-4 text-left cursor-pointer">
              <span id="row-{{key}}">{{key.publicKeyName}}
                <span *ngIf="checkIfKeyIsBeingSorted(key.privateKeyName)==1">⮭</span>
                <span *ngIf="checkIfKeyIsBeingSorted(key.privateKeyName)==0"> </span>
                <span *ngIf="checkIfKeyIsBeingSorted(key.privateKeyName)==-1">⮯</span>
              </span>
            </td>
          </tr>
        </thead>
        <tbody class="overflow-hidden">
          <tr *ngFor="let actualModel of modelsTransformed" class="even:bg-base-300 odd:bg-base-200 z-0" (mouseout)="onTRLeave(refActions)"  (mouseover)="this.onTROver( refActions) ">
            <td *ngFor="let key of modelKeysTransformed" class="px-6 py-4 text-left">{{actualModel[key.privateKeyName]}}</td>

            <div class="dropdown dropdown-left fixed my-1 right-10 show-out z-top" #refActions>
              <label tabindex="0" class="btn m-1">...</label>
              <ul tabindex="0" (mouseover)="onTROver(refActions)" (mouseout)="onTRLeave(refActions)" class="dropdown-content absolute menu p-2 shadow bg-base rounded-box w-52 z-50">
                <li *ngFor="let action of actions" (click)="executeAction(action.actionName, actualModel)" ><a>{{action.actionName}}</a></li>
              </ul>
            </div>

          </tr>
        </tbody>
      </table>
      <div *ngIf="!weHaveContent()" class="min-w-full text-primary-content">
        <p *ngIf="canAddNew()" class="text-xl text-center mb-20">Nada here ლ(¯ロ¯"ლ)</p>
        <div class="grid grid-cols-3 ml-20 mr-20">
          <div></div>
          <label (click)="this.modelService.goToAddNewPage()" class="btn btn-primary drawer-button">Add new</label>
          <div></div>
        </div>
      </div>
    </div>

    <div *ngIf="weHaveContent()" class="btn-group flex justify-center my-5">
      <button
        class="btn" *ngFor="let page of getPaginationNumbers()"
        [ngClass]="{'btn-disabled': page.isActualPage}"
        (click)="setPageNumber(page.page)">
        <span *ngIf="page.isTopRight">>></span>
        <span *ngIf="page.isTopLeft"><<</span>
        <span *ngIf="!page.isTopLeft && !page.isTopRight">{{page.page}}</span>
      </button>
    </div>

  </div>
  <div class="drawer-side">
    <label for="column-drawer" class="drawer-overlay"></label>
    <div class="p-4 w-1/2 bg-base-200">

      <div class="flex flex-col">
        <div id="keys-toggle-area" class="grid grid-cols-2 gap-x-10 gap-y-2" >
          <div class="form-control w-full" *ngFor="let key of modelKeys">
            <label class="cursor-pointer label">
              <span class="label-text">{{key.publicKeyName}}</span>
              <input (click)="changeKey(key, $event)" type="checkbox" class="toggle toggle-success" checked />
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div *ngIf="this.isLoading" class="content-center">
  <span class="loading loading-spinner loading-lg text-info"></span>
</div>
