<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label>
    <div class="overflow-auto">
      <table class="table-fixed table-zebra min-w-full text-primary-content">
        <thead class="bg-base-100">
        <tr>
          <td *ngFor="let key of modelKeysTransformed" class="px-6 py-4 text-left">{{key}}</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let actualModel of modelsTransformed">
          <td *ngFor="let key of modelKeysTransformed" class="px-6 py-4 text-left">{{actualModel[key]}}</td>
        </tr>
      </table>
    </div>

  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <div class="p-4 w-1/2 bg-base-200">

      <div class="flex flex-col">
        <div class="form-control w-52" *ngFor="let key of modelKeys">
          <label class="cursor-pointer label">
            <span class="label-text">{{key}}</span>
            <input (click)="changeKey(key, $event)" type="checkbox" class="toggle toggle-primary" checked />
          </label>
        </div>
      </div>

    </div>
  </div>
</div>


