<div class="mt-10 flex gap-x-4">

  <div class="bg-base-100 grow p-6 rounded">

    <form [formGroup]="titleForm">
      <input type="text" placeholder="Title" [value]="contentModel.title" class="input input-bordered w-full text-3xl" formControlName="title" />
    </form>

    <app-editor *ngIf="contentDataLoaded" [prevData]="contentModel.content" (contentHasChanged)="checkIfContentHasBeenModified($event)" (editorIDChange)="changeEditorID($event)"></app-editor>

  </div>

  <div class="w-1/4">

    <div class="bg-base rounded p-6">

      <h2 class="text-xl mb-4">
        Category: <span class="cursor-pointer bg-primary px-4 py-2 rounded">{{categoryModel.name}}</span>
      </h2>

      <button class="btn btn-primary" [disabled]="!this.validToSave()" (click)="saveChanges()">Update</button>

    </div>


  </div>

</div>
