<div class="bg-base-400 p-4 rounded">
  <h3 class="font-bold text-lg">Create a new Task Type</h3>
  <form [formGroup]="newTypeForm" >
    <div class="grid grid-cols-1 my-4">
      <label for="newStatusName" class="mr-4 mb-4">Name: </label>
      <input type="text" class="input input-bordered w-full max-w-xs" id="newStatusName" placeholder="New Type name" formControlName="name">
    </div>

    <div class="grid grid-cols-1 my-4 relative">
      <label for="newStatusName" class="mr-4 mb-4">Task Category: </label>
      <input type="text" class="input input-bordered w-full max-w-xs" id="TaskCat" placeholder="Task Category name" formControlName="taskCat">
      <div class="taskCatSearcher" [ngClass]="{'taskSearchShow' : !showSearchTaskCat()}">
        <button *ngFor="let taskCat of bsTaskCats" (click)="addTaskCatToTypeModel(taskCat)" class="badge badge-neutral m-1 cursor-pointer">{{taskCat.name}}</button>
      </div>
    </div>
  </form>
  <div>
    <button class="badge badge-neutral m-1 cursor-pointer" *ngFor="let addedTaskCat of getAddedTask()" (click)="deleteTaskCatFromType(addedTaskCat)">{{addedTaskCat.name}}</button>
  </div>
  <div class="modal-action my-8 justify-start">
    <button class="btn btn-secondary" [disabled]="!isValidNewType()" (click)="addNewType()">Create New Type</button>
  </div>

</div>
