<div class="bg-base-400 p-4 rounded">
  <form >
    <h3 class="font-bold text-lg">Create a new Task Type</h3>
    <div class="grid grid-cols-1 my-4">
      <label for="newStatusName" class="mr-4 mb-4">Name: </label>
      <input type="text" class="input input-bordered w-full max-w-xs" id="newStatusName" placeholder="New Task Category name" >
    </div>
    <div class="grid grid-cols-1 my-4">
      <label for="newStatusName" class="mr-4 mb-4">Task Category: </label>
      <input type="text" class="input input-bordered w-full max-w-xs" id="TaskCat" placeholder="New Task Category name" >
    </div>
    <div>
      <div class="badge badge-neutral m-1 cursor-pointer">WP</div>
      <div class="badge badge-neutral m-1 cursor-pointer">React</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Angular</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Unity</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Python</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Spring</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Joomla</div>
      <div class="badge badge-neutral m-1 cursor-pointer">HTML</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Java</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Javascript</div>
      <div class="badge badge-neutral m-1 cursor-pointer">CSS</div>
      <div class="badge badge-neutral m-1 cursor-pointer">Typescript</div>
    </div>
    <div class="modal-action my-8 justify-start">
      <button class="btn btn-secondary" >Create New Task Category</button>
    </div>
  </form>
</div>
