<div class="bg-base-300 drop-shadow-lg rounded-md overflow-hidden">
  <h1 class="my-6 mx-6">Business List</h1>
  <table class="table-fixed table-zebra min-w-full text-primary-content">
    <thead class="bg-base-100">
      <tr>
        <td class="px-6 py-4 text-left">Name</td>
        <td class="px-6 py-4 text-left">plan</td>
        <td class="px-6 py-4 text-left">Projects</td>
        <td class="px-6 py-4 text-left">Pending Tasks</td>
        <td class="px-6 py-4 text-left">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-6 py-4 text-left">John Doe</td>
        <td class="px-6 py-4 text-left">Free</td>
        <td class="px-6 py-4 text-left">1</td>
        <td class="px-6 py-4 text-left">2</td>
        <td class="px-6 py-4 flex flex-row items-center gap-4 content-center">
          <button class="btn btn-secondary btn-sm">Load</button>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-error btn-sm">Delete</button>
        </td>
      </tr>
      <tr>
        <td class="px-6 py-4 text-left">John Doe</td>
        <td class="px-6 py-4 text-left">Free</td>
        <td class="px-6 py-4 text-left">1</td>
        <td class="px-6 py-4 text-left">2</td>
        <td class="px-6 py-4 flex flex-row items-center gap-4 content-center">
          <button class="btn btn-secondary btn-sm">Load</button>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-error btn-sm">Delete</button>
        </td>
      </tr>
      <tr>
        <td class="px-6 py-4 text-left">John Doe</td>
        <td class="px-6 py-4 text-left">Free</td>
        <td class="px-6 py-4 text-left">1</td>
        <td class="px-6 py-4 text-left">2</td>
        <td class="px-6 py-4 flex flex-row items-center gap-4 content-center">
          <button class="btn btn-secondary btn-sm">Load</button>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-error btn-sm">Delete</button>
        </td>
      </tr>
      <tr>
        <td class="px-6 py-4 text-left">John Doe</td>
        <td class="px-6 py-4 text-left">Free</td>
        <td class="px-6 py-4 text-left">1</td>
        <td class="px-6 py-4 text-left">2</td>
        <td class="px-6 py-4 flex flex-row items-center gap-4 content-center">
          <button class="btn btn-secondary btn-sm">Load</button>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-error btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


  <app-table-view [model]="model" [modelConst]="modelConst" ></app-table-view>

</div>

