.hideSubMenu{
  max-height: 0 !important;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.transitionSubMenu{
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.menuActive{
  @apply bg-primary;
}

.hideSidebar{
  max-width: 0 !important;
  overflow: hidden;
  overflow-y: hidden;
  transition: max-width 0.7s ease;
}

.transitionSidebar{
  max-width: 400px;
  transition: max-width 0.8s ease;
}
