<div class="bg-base-100 p-8 rounded">
    <form [formGroup]="newBsClientForm">
        <div class="flex justify-between mb-6">
            <h1>Add new client</h1>
            <button
                class="btn btn-secondary"
                *ngIf="newBsClientForm.valid; else elseFormButton"
                (click)="addNewBsClient()">
                Add Client
            </button>
            <ng-template #elseFormButton>
                <div
                    class="tooltip cursor-not-allowed"
                    data-tip="New client is missing some fields 😬">
                    <button class="btn btn-error ml-4 font-medium" disabled>
                        Add Client
                    </button>
                </div>
            </ng-template>
        </div>
        <div class="flex justify-between gap-x-20">
            <div class="w-4/5">
                <app-first-name-field
                    [label]="'Client first name'"
                    formControlName="firstName"
                    [isRequired]="true"></app-first-name-field>
                <app-last-name-field
                    [label]="'Client last name'"
                    formControlName="lastName"
                    [isRequired]="true"></app-last-name-field>
                <app-username-field
                    [label]="'Client username'"
                    formControlName="username"
                    [isRequired]="true"
                    [model]="model"
                    [modelService]="bsClientService"></app-username-field>
                <app-email-field
                    [label]="'Client email'"
                    formControlName="email"
                    [isRequired]="true"
                    [model]="model"
                    [modelService]="bsClientService"></app-email-field>
                <app-password-field
                    [label]="'Client password'"
                    formControlName="password"
                    [isRequired]="true"></app-password-field>
            </div>
            <div class="w-4/5">
                <app-address-field
                    [label]="'Client address'"
                    formControlName="address"
                    [isRequired]="false"></app-address-field>
                <app-website-field
                    [label]="'Client website'"
                    formControlName="website"
                    [isRequired]="false"></app-website-field>
                <app-company-name-field
                    [label]="'Client company name'"
                    formControlName="companyName"
                    [isRequired]="false"></app-company-name-field>
            </div>
        </div>
    </form>
</div>
