<div class="grid grid-cols-1 my-4">
  <label for="name-{{label}}" class="mr-4 mb-4">Name *: </label>
  <input  type="text"
          class="input-bs-client"
          id="name" placeholder="{{label}}"
          (input)="fieldChangeDetected($event)"
          (click)="setTouched()"
          [disabled]="disabled">
  <div class="flex justify-end">
    <div class="invalid-input-label-message mt-2" *ngIf="touched && hasLessThanTwoCharacters">The client's first name is required. (min 3 characters)</div>
  </div>

</div>
