<div class="grid grid-cols-1 my-4">
    <label for="name-{{ label }}" class="mr-4 mb-4"
        >Address <span *ngIf="isRequired" class="text-error">*</span> :
    </label>
    <input
        type="text"
        [ngClass]="{
            'input-is-invalid-shared': fieldIsInvalid(),
            'input-is-valid-shared': touchedAndValid(),
            'input-checking-async-value-shared': requestingAsyncValidation
        }"
        [id]="id"
        class="input-field-common-shared"
        id="address"
        placeholder="{{ label }}"
        (input)="fieldChangeDetected($event)"
        (click)="setTouched()"
        [disabled]="disabled" />
    <div class="invalid-input-label-container">
        <div *ngIf="touched && isEmpty && isRequired">Name is required</div>
        <div *ngIf="touched && hasBeenModified && invalidUseOfSpace">
            Check space utilization
        </div>
        <div *ngIf="touched && hasLessThanTwoCharacters && hasBeenModified">
            Name must have more than 2 characters
        </div>
        <div *ngIf="touched && valueAlreadyExists && hasBeenModified">
            Name already exists
        </div>
    </div>
</div>
