<div class="grid grid-cols-1 my-4">
    <label for="name-{{ label }}" class="mr-4 mb-4"
        >Client <span *ngIf="isRequired" class="text-error">*</span> :
    </label>
    <div *ngIf="!multiple && selectedUsers.length == 0">
        <div class="join w-full">
            <select
                id="filter-selector"
                class="select select-bordered join-item"
                [ngClass]="{
                    'input-is-invalid-shared': fieldIsInvalid(),
                    'input-is-valid-shared': touchedAndValid(),
                    'input-checking-async-value-shared':
                        requestingAsyncValidation
                }"
                (input)="filterSelectorChanged($event)"
                (click)="setTouched()">
                <option value="username">By UserName</option>
                <option value="email">By Email</option>
                <option value="id">By ID</option>
            </select>
            <input
                type="text"
                [ngClass]="{
                    'input-is-invalid-shared': fieldIsInvalid(),
                    'input-is-valid-shared': touchedAndValid(),
                    'input-checking-async-value-shared':
                        requestingAsyncValidation
                }"
                [id]="id"
                class="input-field-common-shared join-item"
                id="userSearch"
                placeholder="{{ label }}"
                (input)="fieldChangeDetected($event)"
                (click)="setTouched()"
                [disabled]="disabled" />
        </div>
        <!--Show user list result-->
        <div>
            <div
                class="userResultSelector grid"
                [ngClass]="{
                    userResultShow: !showUserResults(),
                    'grid-cols-1': users.length == 1,
                    'grid-cols-2': users.length == 2,
                    'grid-cols-3': users.length > 2
                }">
                <div
                    *ngFor="let user of users"
                    (click)="setSelectedUsers(user)">
                    <div
                        class="grid grid-cols-3 gap-x-4 bg-base-100 p-4 rounded m-1 cursor-pointer hover:bg-base-400">
                        <div class="avatar">
                            <div
                                class="w-12 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                                <img src="https://picsum.photos/64" />
                            </div>
                        </div>
                        <div class="col-span-2 grid grid-cols-1">
                            <div>{{ user.username }}</div>
                            <div>{{ user.firstName }} {{ user.lastName }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Show selected user-->
    <div *ngIf="!multiple && selectedUsers.length == 1">
        <div
            class="grid grid-cols-8 gap-x-4 bg-base-100 p-4 rounded m-1 cursor-pointer hover:bg-base-300">
            <div class="avatar col-span-2">
                <div
                    class="w-18 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="https://picsum.photos/64" />
                </div>
            </div>
            <div class="col-span-4 grid grid-cols-1">
                <div>{{ selectedUsers[0].username }}</div>
                <div>
                    {{ selectedUsers[0].firstName }}
                    {{ selectedUsers[0].lastName }}
                </div>
            </div>
            <div class="col-span-1">
                <button class="btn btn-error" (click)="clearSelectedUsers()">
                    X
                </button>
            </div>
        </div>
    </div>

    <div class="invalid-input-label-container">
        <div *ngIf="touched && isRequired">Name is required</div>

        <!--<div *ngIf="touched && hasBeenModified && invalidUseOfSpace">
            Check space utilization
        </div>
        <div *ngIf="touched && hasBeenModified">
            Name must have more than 2 characters
        </div>
        <div *ngIf="touched && hasBeenModified">Name already exists</div>-->
    </div>
</div>
