<button class="btn btn-secondary font-medium" (click)="showEditModal()">Edit</button>
<dialog id="{{modalID}}" class="modal text-primary-content">
  <form method="dialog" class="modal-box grid grid-cols-1 gap-y-4" [formGroup]="editForm">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 bg-error text-error-content">✕</button>
    <h3 class="font-bold text-lg">Edit {{toEdit.name}} status.</h3>

    <app-name-field
      [label]="'Actual task category name'" formControlName="name"
      [originalValue]="toEdit.name"
      [model]="model"
      [modelService]="bsTaskCategoryService"
      [isRequired]="true">
    </app-name-field>

    <div class="modal-action">
      <button class="btn btn-error">Cancel</button>
      <button class="btn btn-secondary" (click)="updateTaskCategory()" [disabled]="!editForm.valid">Update</button>
    </div>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
