<div class="p-4">

  <h1>Task Types List</h1>

  <div class="mt-4">
    <table class="table-auto min-w-full text-primary-content">
      <thead class="bg-base-100">
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Tasks</td>
          <td>Task Cat</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of bsTypes" class="even:bg-base-300 odd:bg-base-200 z-0">
          <td>{{type.id}}</td>
          <td>{{type.name}}</td>
          <td>{{processTasks(type.tasks)}}</td>
          <td>
            <div *ngFor="let taskCat of processTaskCategories(type.taskCategories)" class="badge badge-neutral m-1">{{taskCat.name}}</div>
          </td>
          <td class="grid grid-cols-2">

            <app-edit-bs-type [toEdit]="type"></app-edit-bs-type>

            <div class="tooltip cursor-not-allowed" data-tip="It is not possible to delete a type containing tasks 😬" *ngIf="disableDeleteButton(type); else elseBlock">
              <button class="btn btn-error ml-4" disabled>Eliminate</button>
            </div>
            <ng-template #elseBlock>
              <button class="btn btn-error ml-4" (click)="deleteType(type)">Eliminate</button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
