<button class="btn btn-secondary" (click)="showEditModal()">Edit</button>
<dialog [id]="modalID" class="modal text-primary-content">
  <form method="dialog" class="modal-box grid grid-cols-1 gap-y-4" [formGroup]="editForm">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 bg-error text-error-content">X</button>
    <h3 class="font-bold text-lg">Edit {{toEdit.name}} priority.</h3>
    <app-name-field
      [label]="'Actual task category name'" formControlName="name"
      [originalValue]="toEdit.name"
      [model]="toEdit"
      [modelService]="bsPriorityService"
      [isRequired]="true">
    </app-name-field>
    <div class="modal-action">
      <button class="btn btn-error">Cancel</button>
      <button class="btn btn-secondary" [disabled]="editForm.invalid" (click)="updatePriority()">Update</button>
    </div>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
