<div class="bg-base-400 rounded">
    <form [formGroup]="newProjectForm">
        <h3 class="font-bold text-lg">Create a new Project</h3>
        <app-name-field
            [label]="'New project name'"
            formControlName="name"
            [isRequired]="true"
            [model]="model"
            [modelService]="projectService">
        </app-name-field>
        <app-bs-client-field
            [modelService]="clientService"
            [model]="clientModel"
            [isRequired]="true"
            [multiple]="false"
            [label]="'Search for a client'"
            formControlName="client">
        </app-bs-client-field>
        <app-date-field
            formControlName="dueDate"
            label="Due date"></app-date-field>
    </form>
    <div class="modal-action my-8 justify-start">
        <button
            class="btn btn-secondary"
            [disabled]="!newProjectForm.valid"
            (click)="addNewProject()">
            Create New Project
        </button>
    </div>
</div>
<div>
    <span>Form is valid: {{ this.newProjectForm.valid }}</span>
</div>
<!--<div>
    {{ this.newProjectForm.value | json }}
</div>-->
