<div class="bg-base-400 rounded">
  <h3 class="font-bold text-lg">Create a new Priority</h3>
  <form [formGroup]="newPriorityForm">
    <app-name-field
      [label]="'New priority category name'" formControlName="name"
      [isRequired]="true"
      [model]="model"
      [modelService]="bsPriorityService">
    </app-name-field>
  </form>
  <div class="modal-action my-8 justify-start">
    <button class="btn btn-secondary" [disabled]="newPriorityForm.invalid" (click)="createNewPriority()">Create New Priority</button>
  </div>
</div>
